<h1>Add Ticket</h1>

<form method="post" action="/ticket/<%=flightId%>/new">
    <div>
        <label>Seat </label>
        <input type="text" name="seat">
        <label>Price</label>
        <input type="number" name ="price">
        <button type="submit">Add Tickeet</button>
    </div>

</form>